<h2>Show location</h2>

<ul>

  <li>
    <strong>Expert:</strong>
    <%= @location.expert_id %>
  </li>

  <li>
    <strong>Lat:</strong>
    <%= @location.lat %>
  </li>

  <li>
    <strong>Lng:</strong>
    <%= @location.lng %>
  </li>

  <li>
    <strong>Timestamp:</strong>
    <%= @location.timestamp %>
  </li>

</ul>

<%= link "Edit", to: location_path(@conn, :edit, @location) %>
<%= link "Back", to: location_path(@conn, :index) %>
